---
export interface Props {
	items: {
    text: string;
    href: string;
  }[];
}

const { items } = Astro.props as Props;
---

<header class="header">
  <nav class="nav nav__grid">
    <div>
      <a href="/" class="nav__link">
        <span style="font-size: 1.5rem">João Pimentel</span>
      </a>
    </div>

    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        {items.map(item => 
          <li class="nav__item">
            <a href={item.href} class="nav__link">{item.text}</a>
          </li>
        )}
      </ul>
    </div>

    <div class="nav__toggle" id="nav-toggle">
      <span class="mdi mdi-menu mdi-close"/>
      <!--span class="mdi mdi-close"/-->
    </div>
  </nav>
</header>

<script>
  const navigation : HTMLElement | null = document.querySelector('.header > .nav')
  const mobile_navigation = navigation?.querySelector('#nav-menu')
  const responsive_toggle = navigation?.querySelector('#nav-toggle')
  const menu_icon = responsive_toggle?.querySelector('.mdi')

  responsive_toggle?.addEventListener('click', _ => {
    mobile_navigation?.classList.toggle('show')
    menu_icon?.classList.toggle('mdi-menu')
  })
</script>

<style>
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
	.nav__grid {
    display: grid;
    margin-left: var(--mb-6);
    margin-right: var(--mb-6);
  }
  @media screen and (max-width: 1059px) {
    .nav__grid {
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
    }
  }
  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
  }
  .nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
  }
  @media screen and (max-width: 1093px) {
    .nav__menu {
      position: fixed;
      top: var(--header-height);
      right: -100%;
      width: 80%;
      height: 100%;
      padding: 2rem;
      background-color: var(--first-color);
      transition: 0.5s;
    }
  }
  .nav__item {
    margin-bottom: var(--mb-4);
    text-transform: uppercase;
  }
  .nav__link {
    position: relative;
    color: var(--third-color);
  }
  .nav__link:hover {
    position: relative;
    text-decoration: none;
  }
  .nav__link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--second-color);
  }
  .nav__logo {
    position: relative;
    color: var(--third-color);
  }
  .nav__logo:hover {
    position: relative;
  }
  .nav__logo:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 5rem;
    background-color: var(--second-color);
  }
  .nav__toggle {
    color: var(--third-color);
    font-size: 1.5rem;
    cursor: pointer;
  }
  /*Active menu*/
  .active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--second-color);
  }
  /*=== Show menu ===*/
  .show {
    right: 0;
  }
  @media screen and (min-width: 1094px) {
    .nav {
      height: calc(var(--header-height) + 1.5rem);
    }
    .nav__list {
      display: flex;
      padding-top: 0;
    }
    .nav__item {
      margin-left: var(--mb-6);
      margin-bottom: 0;
    }
    .nav__toggle {
      display: none;
    }
    .nav__link {
      color: var(--third-color);
    }
  }
</style>
